@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 30px;
}

/* Login Page */
.new_user {
  width: 50%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.field,
.actions {
  width: 50%;
  margin: 0 auto;
}

.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  padding: 8px;
}

.actions input {
  width: 100%;
  padding: 8px;
}

.additional_info {
  width: 80%;
  padding: 16px;
  margin: 0 auto;
}

.additional_info a {
  width: 100%;
  margin: auto;
  padding: 0 25% 0 34%;
}

.posts-stuff {
  padding-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 25%;
  gap: 1.5rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}
