.new_post {
  display: flex;
  width: 50%;
  justify-content: center;
  border: 1px solid;
  align-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: lightgreen;
}

.new_post form {
  width: 100%;
}

.new_post form div {
  margin-top: 20px;
}

.new_post form input,
.new_post form textarea {
  padding: 10px;
  font-size: 17px;
  width: 80%;
  margin: auto auto;
  border: 2px solid black;
  outline: none;
}

.new_post form textarea {
  height: 300px;
}

.new_post form button {
  cursor: pointer;
}

.view_all_posts {
  display: flex;
  width: 50%;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
  border: 1px solid;
  align-content: center;
  align-items: center;
  width: 10rem;
  background-color: cyan;
}

.new_post_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.new_post_form form input,
.new_post_form form textarea {
  font-size: 17px;
  width: 80%;
  margin: auto auto;
  border: 2px solid black;
  outline: none;
}

.new_post_form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35%;
}

.new_post_form form textarea {
  height: 10rem;
}

.add_post_button {
  width: 30%;
}

.new_post_form h2 {
  display: flex;
}
