.post_content,
.content_comments {
  border: 2px solid black;
  margin: 5px;
  padding: 15px;
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
}

.content_counters {
  position: absolute;
  top: 5px;
  right: 10px;
}

form {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
}

form textarea {
  width: 20rem;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.comment_link {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: lightgreen;
}

.like_link input {
  width: 10rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: salmon;
  cursor: pointer;
}

.my-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
